@import "tailwindcss";

:root {
  --theme-background: #A78BFA;
  --theme-accent: #7C3AED;
  --theme-text: #FFF7E6;
  --theme-shadow: 0 10px 25px rgba(124, 58, 237, 0.35);
  --theme-border: #FFF7E6;
  --theme-input-background: #7C3AED;
  --theme-input-text: #FEF3C7;
}

.theme-dark {
  --theme-background: #CCCCCC;
  --theme-accent: #FFFFFF;
  --theme-text: #FFFFFF;
  --theme-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  --theme-border: #acacac;
  --theme-input-background: rgb(160, 158, 151);
  --theme-input-text: #2b333b;
}

.theme-pink {
  --theme-background: #F9A8D4;
  --theme-accent: #EC4899;
  --theme-text: #000000;
  --theme-shadow: 0 10px 25px rgba(147, 197, 253, 0.8);
  --theme-border: #93C5FD;
  --theme-input-background: #EC4899;
  --theme-input-text: #F9A8D4;
}
